## Assignment 2

#### Part 1: Lists

In [43]:
# 1 Create a list with the names of every planet in the solar system (in order)

l = ["mercury", "venus", "earth", "mars", "jupiter", "saturn", "uranus", "neptune"]
planets = l
l
planets

['mercury', 'venus', 'earth', 'mars', 'jupiter', 'saturn', 'uranus', 'neptune']

In [44]:
# 2 Have Python tell you how many planets there are by examining your list

len(l)
len(planets)

8

In [45]:
# 3 Use slicing to display the first four planets (the rocky planets)

sorted (l[0:4]) # slicing the original list

['earth', 'mars', 'mercury', 'venus']

In [46]:
# 4 Iterate through your planets and print the planet name only if it has an s at the end

planets

for word in planets:
    if word.endswith ('s'):
        print (word)

venus
mars
uranus

#### Part 2: Functions
1. Write a function to convert temperature from kelvin to celsius and celsius to kelvin

2. Write a function to convert temperature to fahrenheit. Include an optional keyword argument to specify whether the input is in celcius or kelvin. Call your previously defined functions if necessary.

3) Check that the outputs are sensible by trying a few examples
   
5) Now write a function that converts from farenheit and uses a keyword argument to specify whether you want the output in celcius or kelvin
   
5) Write a function that takes two arguments (feet and inches) and returns height in meters. Verify it gives sensible answers
   
6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches) (Consult the tutorial on numbers if you are stuck on how to implement this.)
   
7) Verify that the “round trip” conversion from and back to meters is consistent. Check for 3 different values of height in meters

In [83]:
# 1. Write a function to convert temperature from kelvin to celsius and celsius to kelvin
# formula for Kelvin to Celcius: Kelvin = Celsius + 273.15.

def tk_to_tc (kelvin):
    celcius = kelvin - 273.15
    return celcius

tk_to_tc (50)

-223.14999999999998

In [31]:
# 2. Write a function to convert temperature to fahrenheit. Include an optional keyword argument to specify whether the input is in celcius or kelvin. 
# Formula F to C ->  (32°F − 32) × 5/9 = 0°C
# Formula F to K -> (32°F − 32) × 5/9 + 273.15 = 273.15K


def temp_to_fahr (temp, unit):
    if unit == 'C':
        fahrenheit = (temp * 9/5) + 32
    elif unit == 'K':
        fahrenheit = (temp - 273.15) * 9/5 + 32
    else:
        raise valueerror ("Units must be in 'C' for Celcius or 'K' for Kelvin")

    return fahrenheit 

    

temp_to_fahr (55, 'C')

131.0

In [32]:
# 3) Check that the outputs are sensible by trying a few examples

temp_to_fahr (21, 'C')

69.8

In [29]:
# 5) Write a function that converts from farenheit and uses a keyword argument to specify whether you want the output in celcius or kelvin
# Formula F to C ->  (32°F − 32) × 5/9 = 0°C
# Formula F to K -> (32°F − 32) × 5/9 + 273.15 = 273.15K

def temp_from_fahr (temp, into_unit='kelvin'):
    
    if into_unit == 'kelvin':
        kelvin = (temp - 32) * 5/9 + 273.15
        return kelvin, '°K'
    elif into_unit == 'celcius':
        celcius = (temp - 32) * 5/9
        return celcius, '°C'


temp_from_fahr (89, 'kelvin')

(304.81666666666666, '°K')

In [30]:
temp_from_fahr (35, 'celcius')

(1.6666666666666667, '°C')

In [40]:
# 5) Write a function that takes two arguments (feet and inches) and returns height in meters. Verify it gives sensible answers

# 1 foot = 0.304 meters
# 1 inch = 0.025 meters

def height_to_meters (feet, inches):
    total_inches = feet * 12 + inches
    meters = total_inches * 0.025
    return f"{meters} meters"

height_to_meters (4, 10)

'1.4500000000000002 meters'

In [46]:
# 6. Write a function takes one argument (height in meters) 
# and returns two arguments (feet and inches)

def meters_to_imperial (meters):
    total_inches = meters / 0.025
    feet = int(total_inches // 12)
    inches = int(total_inches % 12)
    return f"{feet} feet and {inches} inches"


meters_to_imperial (5)

'16 feet and 8 inches'

In [50]:
# 7) Verify that the “round trip” conversion from and back to meters is consistent. 
# Check for 3 different values of height in meters

height_to_meters (2, 4)

'0.7000000000000001 meters'

In [49]:
meters_to_imperial (0.7)

# rounded down to 0.7)

'2 feet and 3 inches'

In [51]:
height_to_meters (10, 9)

'3.225 meters'

In [52]:
meters_to_imperial (3.225)

'10 feet and 9 inches'

In [53]:
height_to_meters (5, 5)

'1.625 meters'

In [54]:
meters_to_imperial (1.625)

'5 feet and 5 inches'